.expandable-card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.inital {
  height: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin:1vw;
  
  align-items: center;
  padding: 1vw;
  background-color: #007bff;
  
}

.inital p {
  margin: 0;
  font-size: 20px;
  color:#fbfbfb;
}

.expand-button {
  background-color: #fbfbfb;
  width: 80px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: #007bff;
  height: 30px;

}

.form-container {
  padding: 20px;
  background-color: #59a3f3;
  margin: 1vw;
  border-radius: 20px;
}

.item-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-group textarea {
  resize: vertical;
}

.radiobuttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.radiobuttons input[type="radio"] {
  margin-right: 5px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}